body{
  background-image: url("https://i.pinimg.com/originals/e2/4b/66/e24b66b6bcf22291cc6e5468b0656d02.jpg");
}
.form {
   
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 70vh;
  margin: 0 auto;
  margin-top: 50px;
  padding: 50px;
  border-radius: 10px;
  
}
.form-container {

  height: 500px;
}
.form h1{
  color: rgb(255, 255, 255);
  margin-top: 2px;
  padding-top: 2px;
  margin-left: 130%;
}
.form-container form {
 
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 80%;
  width: 450px;
  margin-left: 400px;
 
}
.input-stats {
  display: flex;
  gap: 40px;
  height: 30px;
  width: 450px;
  
  
}
.input-stats input {
  height: 20px;
  margin-bottom: 0;
  background-image: url(../images/picachu2.jpg);
 
}

.input-stats p {
  align-content: flex-end;
 margin-left: 20px;
 margin-top: 0;
 color: #f5f5f5;

  width: 500px;
  
}
.enviar2 {
  margin-top: 70px;
  width: 180px;
  height: 50px;
  background-image: url(../images/picachu2.jpg);
  border: none;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
  margin-left: 100px;
  color: #f5f5f5;
}
.enviar:hover {
  background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
}
.dd {
  cursor: pointer;
  display: flex;
  color: #f5f5f5;
}
.btn2-create{
  margin-top: -70px;
  width: 180px;
  height: 50px;
  background-image: url(../images/picachu2.jpg);
  border: none;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
  margin-left: 300px;
  color: #f5f5f5;
}