.detail-container{

    display: flex;
    justify-content: center;
    width: 30%;
    margin: 0 auto;
    margin-top: 50px;
    margin-right: 100px;
    border-radius: 10px;
-webkit-box-shadow: 18px 21px 25px -16px rgb(255, 255, 255);
-moz-box-shadow: 18px 21px 25px -16px rgb(255, 255, 255);
box-shadow: 18px 21px 25px -16px rgb(255, 255, 255);
}
.detail-container img {
    width: 40%;
    height: 50%;
   
}
.title{
    font-size: 300px;
    color: bisque;
}
.detail-container h1 {
  
    font-size: 15px;
}
.detail-container h2 {
    font-size: 15px;
} 
.detail {
 
   
    background-size: cover;
    height: 100vh;
}
.loader-details {

    margin-top: 250px;
}
.loader {
 
    margin: 0 auto;
}
.btn-detailes{
    margin-top: 2px;
}
.btn-detailes button {
    border: none;
    width: 100px;
    height: 40px;
    background-color: #fdfdfd;
    transition: 0.5s;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 750px;
}
.btn-detailes button:hover{
    background-color:  #fffefef8;

}
